*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{

    width:100%;
    height:100%;
    overflow:hidden;

    font-family:'Cormorant Garamond',serif;

    background:
    radial-gradient(circle at top,#1b1b1b,#050505);

    color:white;

}

body{

    display:flex;
    justify-content:center;
    align-items:center;

}

main{

    text-align:center;
    max-width:900px;
    padding:40px;

}

h1{

    font-size:64px;
    margin-bottom:20px;

}

h3{

    font-size:34px;
    font-weight:400;
    margin-bottom:30px;

}

p{

    font-size:30px;
    line-height:1.6;

}

button{

    margin-top:50px;

    padding:18px 42px;

    border:none;

    border-radius:40px;

    background:#d4af37;

    color:#111;

    font-size:22px;

    cursor:pointer;

    transition:.35s;

}

button:hover{

    transform:scale(1.05);

    box-shadow:0 0 25px gold;

}

#story{

    text-align:center;
    max-width:900px;

}

.storyLine{

    opacity:0;

    transform:translateY(30px);

    transition:2s;

    font-size:46px;

    margin:45px 0;

}

.storyLine.visible{

    opacity:1;

    transform:translateY(0);

}

.nextButton{

    opacity:0;

}

.nextButton.visible{

    opacity:1;

}

.chestScene{

    width:100%;

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    position:relative;

    overflow:hidden;

}

.glow{

    position:absolute;

    width:500px;

    height:500px;

    border-radius:50%;

    background:gold;

    filter:blur(140px);

    opacity:.18;

    animation:pulse 5s infinite;

}

.chest{

    font-size:130px;

    transition:1.2s;

    z-index:5;

}

.chestScene h2{

    margin-top:30px;

    font-size:42px;

    font-weight:400;

}

.chestScene p{

    margin-top:20px;

    font-size:34px;

    color:#d4af37;

}

.heart{

    position:absolute;

    bottom:-40px;

    font-size:34px;

    animation:floatUp linear forwards;

}

@keyframes floatUp{

    from{

        transform:translateY(0) scale(.5);

        opacity:0;

    }

    15%{

        opacity:1;

    }

    to{

        transform:translateY(-120vh) scale(1.5);

        opacity:0;

    }

}

@keyframes pulse{

    0%{

        transform:scale(.9);

    }

    50%{

        transform:scale(1.15);

    }

    100%{

        transform:scale(.9);

    }

}